In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r".\Data\parks.csv",index_col=['Park Code'])

In [3]:
df.head(5)

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50
BIBE       Big Bend National Park    TX  801163     29.25    -103.25
BISC       Biscayne National Park    FL  172924     25.65     -80.08

# Indexing single row

In [4]:
df.iloc[4] #using iloc method

Park Name    Biscayne National Park
State                            FL
Acres                        172924
Latitude                      25.65
Longitude                    -80.08
Name: BISC, dtype: object

In [5]:
df.loc['BISC'] # using data frame's index and loc method

Park Name    Biscayne National Park
State                            FL
Acres                        172924
Latitude                      25.65
Longitude                    -80.08
Name: BISC, dtype: object

# Indexing multiple rows

In [7]:
df.iloc[[4,0,1]]

                        Park Name State   Acres  Latitude  Longitude
Park Code
BISC       Biscayne National Park    FL  172924     25.65     -80.08
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57

In [8]:
df.loc[['BISC','ARCH','ACAD']]

                        Park Name State   Acres  Latitude  Longitude
Park Code
BISC       Biscayne National Park    FL  172924     25.65     -80.08
ARCH         Arches National Park    UT   76519     38.68    -109.57
ACAD         Acadia National Park    ME   47390     44.35     -68.21

In [9]:
df[0:5] #slicing

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50
BIBE       Big Bend National Park    TX  801163     29.25    -103.25
BISC       Biscayne National Park    FL  172924     25.65     -80.08

# Indexing columns